{
  "all": true,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "node_modules/**",
    "test/**",
    "coverage/**"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": false,
  "report-dir": "./coverage"
}